In [1]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

In [3]:
ciudades = pd.read_csv('C:/Users/enrri/OneDrive/Documentos/Universidad/Semestre 4/ETL/Cuidades_CO.csv', sep=',')

In [4]:
ciudades.head()

        Ciudad Temperatura (K) Descripción del Clima        Humedad
0   Nueva York   No disponible         No disponible  No disponible
1  Los Ángeles   No disponible         No disponible  No disponible
2      Chicago   No disponible         No disponible  No disponible
3      Houston   No disponible         No disponible  No disponible
4      Phoenix   No disponible         No disponible  No disponible

In [5]:
engine = create_engine('postgresql://postgres:Basesdedatosandres@localhost:5432/Proyecto')
engine.connect()
ciudades.to_sql('Ciudades', engine)

1000